*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.head{
    display: flex;
    align-items: center;
    
     gap: 30px;
     background-color: white;
     width: 80%;
     margin-top: 30px;
     border-radius: 5px 20px 5px 20px;
}
#gallary{
    width: 55%;
    text-align: center;
}
.photos img{
    width: 70px;
    margin-right: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
.main-photo img{
   margin: 30px;
 cursor: pointer;

}
.prodect-content{
    margin: 20px;
    
}
.prodect-content hr{
    opacity: 0.1;
}
.prodect-content h6{
    font-size: 30px;
    
}
.prodect-content h4{
    font-size: 20px;
    font-weight: bold;
}
.prodect-content h4 span{
    color: #ffc73a;
}

/* star */
.rating {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.3rem;
    --stroke: #666;
    --fill: #ffc73a;
    position: relative;
    right: 77%;
    margin-top: 20px;
    
  }
  
  .rating input {
    appearance: unset;
  }
  
  .rating label {
    cursor: pointer;
  }
  
  .rating svg {
    width: 2rem;
    height: 2rem;
    overflow: visible;
    fill: transparent;
    stroke: var(--stroke);
    stroke-linejoin: bevel;
    stroke-dasharray: 12;
    animation: idle 4s linear infinite;
    transition: stroke 0.2s, fill 0.5s;
  }
  
  @keyframes idle {
    from {
      stroke-dashoffset: 24;
    }
  }
  
  .rating label:hover svg {
    stroke: var(--fill);
  }
  
  .rating input:checked ~ label svg {
    transition: 0s;
    animation: idle 4s linear infinite, yippee 0.75s backwards;
    fill: var(--fill);
    stroke: var(--fill);
    stroke-opacity: 0;
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }
  
  @keyframes yippee {
    0% {
      transform: scale(1);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
  
    30% {
      transform: scale(0);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
  
    30.1% {
      stroke: var(--fill);
      stroke-dasharray: 0;
      stroke-linejoin: miter;
      stroke-width: 8px;
    }
  
    60% {
      transform: scale(1.2);
      fill: var(--fill);
    }
  }
  
/* //star */


/* btn */
.CartBtn {
    width: 200px;
    height: 30px;
    border-radius: 12px;
    border: none;
    background-color: rgb(255, 208, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    margin-left: 10px;
    margin-top: 40px;
  }
  
  
  .IconContainer {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
  }
  
  .icon {
    border-radius: 1px;
  }
  
  .text {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(17, 17, 17);
    z-index: 1;
    transition-duration: .5s;
    font-size: 1.04em;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .CartBtn:hover .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
  }
  
  .CartBtn:hover .text {
    transform: translate(10px,0px);
    transition-duration: .5s;
  }
  
  .CartBtn:active {
    transform: scale(0.95);
    transition-duration: .5s;
  }
/* //btn */

.prodect-deti{
  margin-top: 100px;
}
.prodect-deti h3{
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}
.prodect-deti p{
  font-family:'Poppins', sans-serif ;
}



/* share */
/* Cool share button made by: csozi | Website: english.csozi.hu*/

.buttons {
  position: relative;
  display: grid;
  place-items: center;
  height: fit-content;
  width: fit-content;
  transition: 0.3s;
  border-radius: 50%;
  /* left: 70%;
  top: -70px; */
margin: 20px 20px 50px 30px;
  
}

.buttons:hover {
  padding: 60px;
}

.buttons:hover .button {
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

.main-button {
  position: relative;
  display: grid;
  place-items: center;
  padding: 10px;
  border: none;
  background: #e8e8e8;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
  border-radius: 50%;
  transition: 0.2s;
  z-index: 100;
}

.button {
  position: absolute;
  display: grid;
  place-items: center;
  padding: 10px;
  border: none;
  background: #e8e8e8;
  box-shadow: 5px 5px 12px rgba(202, 202, 202, 0), -5px -5px 12px rgba(255, 255, 255, 0);
  transition: 0.3s;
  border-radius: 50%;
}

.discord-button:hover {
  background: #5865F2;
}

.buttons:hover .discord-button {
  translate: 70px 0px;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

.twitter-button:hover {
  background: #1CA1F1;
}

.buttons:hover .twitter-button {
  translate: 47px -47px;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

.reddit-button:hover {
  background: #FF4500;
}

.buttons:hover .reddit-button {
  translate: 0px -70px;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

.messenger-button:hover {
  background: #0093FF;
}

.buttons:hover .messenger-button {
  translate: -47px -47px;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

.pinterest-button:hover {
  background: #F0002A;
}

.buttons:hover .pinterest-button {
  translate: -70px 0px;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

.instagram-button:hover {
  background: #F914AF;
}

.buttons:hover .instagram-button {
  translate: -47px 47px;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

.snapchat-button:hover {
  background: #FFFC00;
}

.buttons:hover .snapchat-button {
  translate: 0px 70px;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

.whatsapp-button:hover {
  background: #25D366;
}

.buttons:hover .whatsapp-button {
  translate: 47px 47px;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}
/* //share */



/* responsive */
@media only screen and (max-width : 1060px) {
  .rating {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.3rem;
    --stroke: #666;
    --fill: #ffc73a;
    position: relative;
    right: 70%;
  }


}

@media only screen and (max-width : 800px) {
  .rating {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.3rem;
    --stroke: #666;
    --fill: #ffc73a;
    position: relative;
    right: 60%;
  }
  .main-photo img{
    margin: 30px 10px;
  
 
 }


}
@media only screen and (max-width : 500px) {
  .rating {
    right: 45%;
  }
  .head{
    flex-wrap: wrap;
  }
  #gallary{
    width: 80%;
    text-align: center;
}
.photos img{
    width: 70px;
    margin-right: 6px;
    cursor: pointer;
    margin-bottom: 10px;
}
.main-photo img{
   margin: 30px;
 cursor: pointer;

}


}

@media only screen and (max-width : 380px) {
  .rating {
    right: 37%;
  
  }

}
@media only screen and (max-width : 330px) {
  .rating {
    right: 24%;
  
  }

}